{
  "root": true,
  "env": {
    "browser": true,
    "vue/setup-compiler-macros": true
  },
  "parserOptions": {
    "ecmaVersion": 12,
    "parser": "@typescript-eslint/parser"
  },
  "plugins": [
    "prettier"
  ],
  "globals": { //这个地方配置是为了防止下面的几个东西没有引入而被报错
    "defineProps": "readonly",
    "defineEmits": "readonly",
    "defineExpose": "readonly",
    "withDefaults": "readonly",
    "defineOptions": "readonly"
  },
  "extends": [
    "plugin:vue/vue3-recommended",
    "airbnb-base",
    "plugin:prettier/recommended",
    "./.eslintrc-auto-import.json"
  ],
  "overrides": [
    {
      "files": "*.html",
      "processor": "vue/.vue"
    }
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": true,
        "endOfLine": "auto",
        "singleQuote": true,
        "trailingComma": "none",
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "vueIndentScriptAndStyle": false,
        "jsxBracketSameLine:": true,
        "htmlWhitespaceSensitivity": "ignore",
        "wrapAttributes": true,
        "overrides": [
          {
            "files": "*.html",
            "options": {
              "parser": "html"
            }
          }
        ]
      }
    ],
    "vue/multi-word-component-names": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "no-console": "off",
    "consistent-return": "off",
    "no-param-reassign": "off",
    "new-cap": "off",
    "no-shadow": "off",
    "no-underscore-dangle": "off",
    "vue/no-v-html": "off",
    "no-restricted-syntax": "off",
    "guard-for-in": "off",
    "import/prefer-default-export": "off",
    "camelcase": "off",
    "no-use-before-define": "off",
    "import/no-extraneous-dependencies": "off",
    "vue/require-default-prop": "off",
    "no-unused-vars": "off",
    "no-unused-expressions": "off",
    "vue/valid-template-root": "off",
    "no-restricted-globals": "off",
    "class-methods-use-this": "off",
    "vue/valid-v-for": "off",
    "no-plusplus": "off",
    "dot-notation": "off",
    "vue/no-use-v-if-with-v-for": "off",
    "vue/require-prop-types": "off",
    "vue/no-dupe-keys": "off",
    "prefer-destructuring": "off",
    "no-undef": "off",
    "func-names": "off",
    "no-dupe-keys": "off",
    "no-template-curly-in-string": "off",
    "import/no-duplicates": "off"
  }
}
